#heading{
    margin : 0 auto;
    margin-bottom : 15px;
    letter-spacing : 1px;
    display : flex;
    justify-content : center;
    align-items: center;
}
a{
    text-decoration : none;
    color : black;
}
outer-pokedex{
    display : flex;
    flex-direction :column;
    align-items : center;
    justify-content:center;
}